<!DOCTYPE html>
<html lang="en" ng-app="application">
  <head>
    <title>Angular Sails App</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <gravatar email="user.email" data-ng-model="user" size="200" class="img-circle pull-left" style="width: 40px; height: 40px">
          </gravatar>
          <a class="brand" href="#">
          Angular Sails Socket.io Demo
            <span data-ng-show="connectedUsers.count">(
              <ng-pluralize count="connectedUsers.count" when="{'0': 'None viewing', 'one': '1 viewing', 'other': '{} viewing'}"></ng-pluralize>
              )</span>
          </a>

          <section class="nav-collapse collapse">
            <div class="authStatus">
              <p class="navbar-text pull-right" data-ng-show="user">
                Logged in as <a ng-href="#/users/show/{{user.id}}" target="_self" class="navbar-link">{{ user.name }}</a>
                &nbsp;|&nbsp; <a href="" ng-controller="LoginCtrl" ng-click="logout()" class="navbar-link">Sign out</a>
              </p>

              <p class="navbar-text pull-right" data-ng-hide="user">
                <a ng-href="#/login" class="navbar-link">Sign in</a>
              </p>
          </section>
        </div>
      </div>
    </nav>  