script(type="text/ng-template" id="views/users/edit.html")
  .users.edit.view
    h1 Edit User
    div(data-ng-include data-src="'views/users/partials/_edit_form.html'")
    br
    a.btn.btn-primary(ng-href="#/users") Back
