script(type="text/ng-template" id="views/users/new.html")
  .users new view
    h1 New User
    div(data-ng-include data-src="'views/users/partials/_new_form.html'")
    br
    a(class="btn btn-primary" ng-href="#/users") Back
