script(type="text/ng-template" id="views/home.html")
  h1#header
    a(href="/")
      New Sails App
  #content
    h2 It works!
    p
      Sails is a modern, realtime MVC framework for the Node.js platform
      br
      span.highlight 
        It helps you build apps fast.
    p
      a.button(href="https://github.com/balderdashy/sails/wiki")
        Documentation
      a.button(href="https://github.com/balderdashy/sails/wiki/Changelog")
        Changelog

  footer#footer
    a.copyright(target="_blank" href="http://sailsjs.com")
      Built with Sails.js  

